
    th:hover {
      background-color: gray !important;
    }
    th:active {
      background-color: gray !important;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .table td.fit,
    .table th.fit {
      white-space: nowrap;
      width: 1%;
    }

    /* default styles here for older browsers. 
     I tend to go for a 600px - 960px width max but using percentages
  */
    @media only screen and (min-width: 960px) {
      /* styles for browsers larger than 960px; */
    }
    @media only screen and (min-width: 1440px) {
      /* styles for browsers larger than 1440px; */
    }
    @media only screen and (min-width: 2000px) {
      /* for sumo sized (mac) screens */
    }
    
    
    /* different techniques for iPad screening */
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
      /* For portrait layouts only */
    }

    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
      /* For landscape layouts only */
    }
